.reveal .slides section {
  text-align: justify;
  text-justify: inter-word;
}
.slides section:first-of-type h1 {
  font-size: 2em !important;
}


.border {
  border: 1px solid #dee2e6;
}

.remark-slide-content {
  padding: 1px !important;
}

.vspace-5cm {
  margin-top: 2cm;
}


.smalltext {
  font-size: 65%;
  
}